@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom CSS */

body::after{
  content: '';
  background-image: url('./assets/pattern_background.png');
  background-repeat: repeat;
  background-size: 112px 112px;
  height: 100vh;
  opacity: 0.3;
  top: 0;
  left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

@responsive{
.h-500px{
  height:500px
}
.h-250px{
  height: 250px
}
}